@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* Shared Styles */

.display-flex{
  display: flex;
}

.text-primary {
  color: #FF900E;
}
/* Dark-02 */
.text-gray {
  color: #424242;
}

/* Dark-03 */
.text-light-gray {
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #FF900E;
  color: aliceblue;
  padding: 20px 25px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;

}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

/* Header styles */


/* Navbar Related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 3rem;
  font-weight: 700;

}
.nav-item {
  list-style: none;
  margin-right: 30px;
  
}

.nav-link {
  text-decoration: none;
  font-weight: 500;

}

.navbar, .banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Related Styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;

}

.banner-image {
  width: 100%;
}

/* Team and Features Related Style */

.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}
/* Features Love and Enjoy section styles*/
.features {
  display: flex;
  gap: 140px;
}
.width {
  max-width: 586px;
}
#features-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;

}

/* feature card styles */
.feature-card {
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.feature-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
}
#experience-badge {
  padding: 46px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -135px;
}

#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

.featured-architect img {
  width: 100%;
}

/*  Some Facts related Styles */
.facts-container {
  display: grid;
  gap: 124px;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact-number {
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}

.fact-description{
  max-width: 540px;
  margin-bottom: 100px;
}
/* Our Sponsors Related Styles */
.our-sponsors {
  text-align: center;

}
.sponsors-info {
  margin: 0 auto;
  max-width: 540px;
  margin-bottom: 50px;
}

.sponsors-title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.sponsor-description {
  font-size: 1rem;
  font-weight: 500;
  color: #727272;
  margin-top: 0;
  margin-bottom: 55px;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
}
/* Footer styles */
.footer-section {
  margin: 100px 100px;
}
.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding: 0 16px;  
  box-sizing: border-box;
  height: 100px;
}
.footer-text {
  margin: auto;
  font-size: 1.25rem;
  font-weight: 400;
  
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links,
  .teams,
  .our-sponsors,
  .features {
    flex-direction: column;
  }
  .brand {
    font-size: 2.8rem;
  }
  .banner-title {
    font-size: 3rem;
   font-weight: 700;
  }
  .banner-description {
    text-align: center;
    padding: 10px 20px;
  }
  .our-features{
    margin-left: 20px;
  }

  #experience-badge{
    margin: 10px 50px;
    justify-content: center;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-content {
    text-align: center;
    padding: 0 5px;
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }
  .sponsor-companies {
    justify-items: center;
    gap: 24px;
  }

 .footer {
    width: 100%;
  }
}
/* Medium Size Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar{
    padding-left: 20px;
  }
  .teams, 
  .features {
    flex-direction: column;
  }
  .banner-description {
    padding: 10px 20px;
  }
  .our-features {
    margin: 50px auto;
  }
  .some-facts {
    margin-top: 60px;

  }
  .fact-content {
    text-align: center;
  }
  .section-title {
    margin: 0;
    padding-bottom: 30px;
  }
  .fact-description {
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .features {
    align-items: center;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
 
}
